build/
install/
log/

*.pyc
__pycache__/
.venv/

.vscode/

*.o
*.so
*.a

.DS_Store

build_orb3.log
data/*.db
src/ros2_orb_slam3/TEST_DATASET/
src/ros2_orb_slam3/orb_slam3/Thirdparty/ORB_SLAM2/Vocabulary/ORBvoc.txt.tar.gz
